deploy/n8n-workflow-auto-apply-approval.json
{
  "name": "Mustang Auto Apply - Approval Submit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-apply-approve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "approval-webhook",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        280
      ],
      "webhookId": "mustang-auto-apply-approve"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "token-check",
              "leftValue": "={{$json.body.token}}",
              "rightValue": "change-me-strong-token",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-token",
      "name": "Token OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/api/run/auto-apply",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stage\": \"submit\",\n  \"max\": {{$json.body.max || 5}},\n  \"dry_run\": false\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "submit-approved",
      "name": "Submit Approved Applications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"submitted\": {{$json.result.stats.submitted || 0}},\n  \"stage\": \"submit\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-ok",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1090,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error\": \"invalid token\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "response-deny",
      "name": "Response Deny",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        820,
        420
      ]
    }
  ],
  "connections": {
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "Submit Approved Applications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Deny",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Approved Applications": {
      "main": [
        [
          {
            "node": "Response OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "b5d3f4a7-8efe-4253-b802-89a62157b95e"
}
